:root {
  --color-primary: #edd7c8;
  --color-primary-light: #f6ece5;
  --color-secondary: #9c8881;
  --color-neutural-beige: #e2e2e0;
  --font-primary: "Open Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: #9c8881;
  text-align: left;
}

h2 {
  font-family: var(--font-primary);
  color: #9c8881;
}

p {
  font-family: var(--font-secondary);
  color: #9c8881;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  color: #9c8881;
}

a:hover {
  color: #edd7c8;
}
