#paws,
#bones,
#all {
  color: #cdb8ab;
}

.circle {
  stroke: #cdb8ab;
}

h2 {
  text-align: center;
  color: #cdb8ab;
}

#cats,
#dogs,
#all {
  text-align: center;
}

a:hover .circle {
  fill: #cdb8ab;
}

a:hover #paws,
a:hover #bones,
a:hover #all {
  fill: #fff;
}
