#paws,
#bones,
#all {
  color: #cdb8ab;
}

.circle {
  stroke: #cdb8ab;
}

.card h2 {
  text-align: center;
  color: #cdb8ab;
}

#cats,
#dogs,
#all {
  text-align: center;
  width: 40%;
  height: 40%;
}

.card a:hover .circle {
  fill: #cdb8ab;
}

.card a:hover #paws,
.card a:hover #bones,
.card a:hover #all {
  fill: #fff;
}
