@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

css
html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.card img {
  width: 100%;
}

.card {
  border: 3px solid #9c8881;
  border-radius: 8px;
}

.card p {
  font-weight: normal;
  display: block;
  margin: 0;
}

.card h2 {
  display: block;
  margin: 0;
}

.card a {
  background-color: #9c8881;
  border-radius: 5px;
  padding: .5rem;
  font-weight: normal;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem;
  color: white;
}

.card a:hover {
  color: #fff;
  background-color: #edd7c8;
}

.header h2 {
  color: var(--color-primary);
}
