footer {
  background-color: var(--color-neutural-light);
}

footer p {
  color: var(--color-primary);
}

footer h3 {
  color: var(--color-primary);
}

footer a {
  color: var(--color-primary);
}

footer span {
  color: var(--color-primary);
}

footer div:nth-last-child(1) {
  border-right: none;
}

footer a:hover {
  border-bottom: 1px solid #9c8881;
  transition: all 300ms linear;
}

@media only screen and (min-width: 40em) {

  footer div {
    border-right: 1px solid #9c8881;
  }
}
