@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 9px;
  font-weight: 600;
}

.btn-reg:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-primary);
  border-radius: 3px;
}

.error-message {
  display: none;
  background-color: var(--color-secondary);
  color: #c33;
}

.error-message-highlighted {
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

p {
  color: var(--color-neutural-grey);
}

input {
  border-color: var(--color-primary);
  border-radius: 3px;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: var(--color-primary-light);
}

label {
  color: #545454;
}

select {
  border-color: var(--color-primary);
  border-radius: 3px;
}

textarea {
  border-color: var(--color-primary);
  border-radius: 3px;
}

#contact {
  background-color: #fbf4eb;
}
