:root {
  --color-primary: #9c8881;
  --color-primary-light: #edd7c8;
  --color-secondary: #f6ece5;
  --color-neutural-grey: #9b9b9b;
  --color-neutural-light: #e2e2e0;
  --font-primary: "Open Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  text-align: left;
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

p {
  font-family: var(--font-secondary);
  color: var(--color-neutural-grey);
  font-weight: 600;
}

label {
  font-weight: 600;
}

a {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #fff;
}

mark {
  background-color: var(--color-neutural-grey);
  color: #fff;
}

select option {
  font-weight: 600;
}

.page-title {
  color: #e0baa9;
}
